@model IEnumerable<Thomas.App.ViewModels.FornecedorViewModel>

@{
    ViewData["Title"] = "Lista de Fornecedores";
}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">@ViewData["Title"]</a>
    <p supress-by-claim-name="Fornecedor" supress-by-claim-value="Adicionar">
        <a class="btn btn-outline-success" asp-action="Create"><span class="fa fa-plus"></span></a>
    </p>
</nav>
<br />
<div class="row">
    <div class="col-md-12">
        <p>
            <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <span class="fa fa-filter"></span>
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                @using (Html.BeginForm("Index", "Fornecedores", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
                {
                    @Html.TextBox("nome", ViewBag.nome as string, new { @class = "form-control mr-sm-2", placeholder = "Nome" })
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                }
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td class="text-right">
                        <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                        <a class="btn btn-outline-primary" supress-by-claim-name="Fornecedor" supress-by-claim-value="Editar" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"></span></a>
                        <a class="btn btn-outline-danger" disable-by-claim-name="Fornecedor" disable-by-claim-value="Excluir" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash-alt"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

