@model Thomas.App.ViewModels.ChamadoViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Informação somente leitura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFechamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFechamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.Contato)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
