@using Thomas.App.Extensions;
@model IEnumerable<Thomas.App.ViewModels.ChamadoViewModel>

@{
    ViewData["Title"] = "Lista de Chamados";
}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">@ViewData["Title"]</a>
    <p supress-by-claim-name="Chamado" supress-by-claim-value="Adicionar">
        <a class="btn btn-outline-success" asp-action="Create"><span class="fa fa-plus"></span></a>
    </p>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NumeroChamado)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TipoStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFechamento)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroChamado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @this.FormataStatus(item.TipoStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFechamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                    <a class="btn btn-outline-primary" disable-by-claim-name="Chamado" disable-by-claim-value="Editar" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"></span></a>
                    <a class="btn btn-outline-danger" disable-by-claim-name="Chamado" disable-by-claim-value="Excluir" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash-alt"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
